* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 35%, rgba(228,16,16,1) 100%);
  font-family: 'Pacifico', cursive;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.img-carrito{
  width: 25%;
  transition: transform .2s;
}

.img-carrito:hover {
  transform: scale(1.5); 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20%;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  position: fixed;
  left: -2000px;
  top: 0;
  width: 100%;
  background-color: rgb(232, 54, 23);
  z-index: 2;
}

.casastella{
  width: 16%;
  border-radius: 50%;
}

h1 {
  color: rgb(254, 253, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
}

#boton-carrito {
  display: flex;
  justify-content: flex-end;
  border: none;
  color: black;
  font-size: 40px;
  background-color: white;
  background-color: rgb(232, 54, 23);
  transition: all .3s;
  margin-left: 100px;
  margin-right: 100px;
}

#boton-carrito:focus {
  outline: none;
}

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


p {
  line-height: 1.8;
}

.producto {
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #ffff;
  border-radius: 10px;
  z-index: 1;
}



.precioProducto {
  font-weight: 700;
}

.boton-agregar {
  background-color: rgb(225, 65, 65);
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none;
}
.boton-comprar{
  background-color: rgb(28, 55, 190);
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none;
}

.boton-agregar:hover {
  cursor: pointer;
}

.boton-agregar:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: black;
  padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: royalblue;
  border: none;
  background-color: white;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 10px;
  
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid rgb(73, 88, 130);
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}

.main-Productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
}

.contacto{
  color: #ffff;
  padding-left: 30px;
}





@media only screen and (max-width: 600px){
  #boton-carrito {
    display: flex;
    justify-content: flex-end;
    border: none;
    color: black;
    font-size: 40px;
    background-color: white;
    background-color: rgb(232, 54, 23);
    transition: all .3s;
    margin-left: 0px;
    margin-right: 0px;
  }

  .img-carrito{
    width: 20%;
    transition: transform .2s;
  }


  .casastella {
    width: 30%;
    border-radius: 50%;

  }

.modal-contenedor{
  width: 100%;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 320px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
}

}






